<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="liga.warehouse.core.repository.NomenclatureRepository">

    <resultMap id="nomenclature" type="liga.warehouse.coreapi.model.Nomenclature" autoMapping="true">
        <id property="id" column="id" jdbcType="BIGINT"/>
    </resultMap>

    <select id="findById" resultMap="nomenclature">
        SELECT n.* FROM nomenclature n WHERE id=#{id};
    </select>

    <select id="findAll" resultMap="nomenclature">
        SELECT n.* FROM nomenclature n;
    </select>

    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO nomenclature (name, product_type, frequency_type, country, create_timestamp)
        VALUES (#{name}, #{productType}, #{frequencyType}, #{country}, #{createTimestamp});
    </insert>

    <delete id="deleteById">
        DELETE FROM nomenclature WHERE id=#{id};
    </delete>
</mapper>